<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <%= simple_format(@ticket.description) %>
</div>
<hr />
<%= link_to "Tickets", project_path(@project) %> |
<%= link_to "Edit Ticket", [:edit, @project, @ticket] %>