<h2>Project list</h2>

<ul>
  <% @projects.each do |project| %>
    <li><small><%= project.created_at %></small> <%= link_to project.name, project %></li>
  <% end %>
</ul>

<hr />
<%= link_to "New Project", new_project_path %>